/* .comment {
  background-color: #fff;
  padding: 1rem;
  border-radius: 7px;
  display: flex;
  gap: 1.3rem;
}

.counter {
  display: flex;
  flex-direction: column;
  height: 5rem;
  background-color: var(--Grey-100);
  padding: 0.2rem;
  padding-inline: 0.4rem;
  justify-content: space-between;
  border-radius: 5px;
  color: var(--Purple-600);
}

.counter button {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  color: var(--Purple-600);
  cursor: pointer;
}

.commentBody {
  display: flex;
  flex: 1;
  gap: 1rem;
  flex-direction: column;
}

.header {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}

.header img {
  width: 30px;
}

.header span {
  color: var(--Grey-500);
  font-size: 0.85rem;
}

.header button {
  margin-left: auto;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--Purple-600);
  border: none;
  cursor: pointer;
  transition: 0.2s;
  padding: 0.3rem
}

.header button:hover {
  opacity: 0.6;
}

.header button img {
  width: 15px;
  margin-right: 5px;
}

.commentBody .body {
  font-size: 0.9rem;
}
*/

/* reply box container for nested replies */
.replyBoxContainer {
  width: 100%;
  margin-top: 1.2rem;
  background-color: transparent;
}